<launch>

    <arg name="debug" default="true" />
    <arg name="use_timed_launch" default="true" />

    <env name="ROSCONSOLE_CONFIG_FILE" value="$(find bringup)/config/console.conf" />
    <env name="ROSCONSOLE_FORMAT" value="[${severity} ${node}, ${walltime}]: ${message}" />

    <!-- world bringup -->

    <include file="$(find bringup)/launch/world.launch">
    </include>

    <!-- robot bringup -->
    <!-- use timed_launch to curb with gazebo issues -->

    <node if="$(arg use_timed_launch)" name="robot_bringup" pkg="timed_roslaunch" type="timed_roslaunch.sh"
          args="2 bringup robot_bringup.launch debug:=$(arg debug) spawn_world:=false" output="screen" />

    <include unless="$(arg use_timed_launch)" file="$(find bringup)/launch/robot_bringup.launch">
        <arg name="debug" value="$(arg debug)" />
        <arg name="spawn_world" value="false" />
    </include>

    <!-- drone bringup -->
    <!-- use timed_launch to curb with gazebo issues -->

    <node if="$(arg use_timed_launch)" name="drone_bringup" pkg="timed_roslaunch" type="timed_roslaunch.sh"
          args="6 bringup drone_bringup.launch debug:=$(arg debug) spawn_world:=false" output="screen" />

    <include unless="$(arg use_timed_launch)" file="$(find bringup)/launch/drone_bringup.launch">
        <arg name="debug" value="$(arg debug)" />
        <arg name="spawn_world" value="false" />
    </include>

</launch>