<launch>

    <arg name="rviz" default="false" />
    <arg name="debug" default="true" />
    <arg name="spawn_world" default="true" />

    <env name="ROSCONSOLE_CONFIG_FILE" value="$(find bringup)/config/console.conf"/>
    <env name="ROSCONSOLE_FORMAT" value="[${severity} ${node}, ${walltime}]: ${message}" />

    <group if="$(arg spawn_world)">
        <include file="$(find bringup)/launch/world.launch"></include>
    </group>

    <group ns="drone">
        <node pkg="drone" type="sensor_fusion" name="sensor_fusion" output="screen" />
        <node pkg="drone" type="motion_controller" name="motion_controller" output="screen" />

        <include file="$(find hector_quadrotor_gazebo)/launch/spawn_quadrotor.launch">
            <arg name="name" value="uav" />
            <arg name="tf_prefix" value="drone_tf" />
            <arg name="y" value="5.0" />
        </include>
    </group>

    <group if="$(arg rviz)">
        <node pkg="rviz" type="rviz" name="rviz" args="-d $(find bringup)/config/config.rviz" />
    </group>

</launch>