<launch>

    <arg name="debug" default="true" />
    <arg name="spawn_world" default="true" />

    <env name="ROSCONSOLE_CONFIG_FILE" value="$(find bringup)/config/console.conf"/>
    <env name="ROSCONSOLE_FORMAT" value="[${severity} ${node}, ${walltime}]: ${message}" />

    <group if="$(arg spawn_world)">
        <include file="$(find bringup)/launch/world.launch"></include>
    </group>

    <group ns="drone">
        <include file="$(find hector_quadrotor_gazebo)/launch/spawn_quadrotor.launch">
            <arg name="name" value="uav" />
            <arg name="tf_prefix" value="drone_tf" />
            <arg name="y" value="5.0" />
        </include>
    </group>

</launch>